@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme{
    --font-roboto: Roboto, "sans-serif"
}
@layer base{
    h3{
        @apply font-bold text-xl mb-2;
    }
    h1{
        @apply font-bold text-2xl pb-4;
    }
    body{
        @apply font-roboto;
    }
    html {
        scroll-behavior: smooth;
        @apply text-zinc-100 ;       
    }
    a{
        @apply hover:text-[#43cea2]
    }
}

@layer components{
    .endless-river{
        @apply bg-gradient-to-r from-[#43cea2] to-[#185a9d];
    }
    .dark .endless-river{
        @apply bg-gradient-to-r from-[#0f2027] to-[#203a43];
    }
    .borderedDivs{
        @apply border-2 p-5 rounded-2xl space-y-2;
    }
    .inverse{
        @apply bg-white text-[#43cea2]
    }
}