@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@layer base{
    h3{
        @apply font-bold text-xl mb-2;
    }
    h1{
        @apply font-bold text-2xl pb-4;
    }
    html {
        scroll-behavior: smooth;
        @apply text-zinc-100 ;       
    }
    a{
        @apply hover:text-[#43cea2]
    }
    
    /* Apply Figtree to the entire app by default */
    html {
        font-family: "Figtree", sans-serif;
    }

    /* (Optional) Apply Archivo specifically to headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Archivo", sans-serif;
    }
}

@layer components{
    .endless-river{
        @apply bg-gradient-to-r from-[#43cea2] to-[#185a9d];
    }
    .dark .endless-river{
        @apply bg-gradient-to-r from-[#0f2027] to-[#203a43];
    }
    .borderedDivs{
        @apply border-2 p-5 rounded-2xl space-y-2;
    }
    .inverse{
        @apply bg-white text-[#43cea2]
    }
}